
	body {
		background-color: #ffffff;
		margin: 0;
		padding: 0;
		font-size:18px;
		font-family: 'Quicksand', sans-serif;

	    }

     .para {
         font-size:130%;
     }
	 .content{
     padding:0px;
		margin :50px 20px 50px 250px;
    float:left;
    width:800px;


  }


	#heading {
		margin:0px;
		text-color: #5ef9a2;
		height:90vh;
		padding:1px;
	 	background-size: 2000px;
	    background-image: url("img/background.jpeg");

	}
	#heading-text{
		color:white;
		text-align: center;
    font-family: 'Nothing You Could Do', cursive;
		font-size: 100px;
		margin : 35vh auto;
		transition-property: color;
	 transition-duration: 1s;
	 transition-timing-function: linear;
	}
	#heading-text:hover{
		color: #a8ff75;
	}

	#scroll{
		color:white;
		margin-left: auto;
		margin-right: auto;
		font-size: 200%;
	}
  .side-menu{
    margin:70px 20px 0px 20px;

    padding:50px 10px;
    border-radius: 10px;
    border-width: 3px;
    border-color: #e0e0e0;
    height: auto;
    width: 250px;
    float:left;
    border-style: solid;

  }
  #menu-list {
  font-family: 'Shadows Into Light', cursive;
    color:grey;
    line-height:200%;
  }
  a {
    color: #38724d ;
    text-decoration: none;
  }
  #Rposts{
    text-align: center;
  }

    .nav-fontsize {
        font-size:200%;
    }

  #about {
      padding-bottom:70px;
  }

	 #projects {
  }

  #second-picture {
    width:100%;
    height:30vh;
    background-image: url("img/background.jpeg");
	background-size: 2000px;
  }
 .card-me {
     margin:50px 50px;
 }

  .mycard-image {
      padding:20px;
  }

 #footer{
    padding:50px;
     background-color:#191919;
     color:white;
 }
